
header {
    position: sticky;
    top: 0;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.24);
}

.filters {
    background-color: var(--color12);
    display: flex;
    gap: 12px;
    padding: 26px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.filter {
    border-radius: 26px;
    background-color: transparent;
    border: 2px solid var(--color11);
    color: var(--color11);
    white-space: nowrap;
    transition: 300ms;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter.active {
    background-color: var(--color11);
    color: var(--color12);
    transition: 150ms;
}

main {
    display: grid;
    gap: 16px;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
    padding-bottom: 160px;
    height: 590px;
    overflow-y: scroll;
}

.image {
    display: inline-block;
    width: 186px;
    height: 186px;
    border-radius: 8px;
    background-position: center;
    transition: 500ms;
}

.hidden {
    display: none;
}
