/* Banner */

#banner {
    width: 100%;
    height: 85vh;
    background-image: url("../assets/images/banner-mobile.png");
    background-position: center bottom;
    background-size: 75vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 136px 28px 64px 28px;
}

#banner>span {
    display: inline-block;
    width: 100%;
    font-family: var(--display);
    color: var(--color11);
    font-size: 24px;
}

#banner button {
    width: 240px;
    height: 56px;
}

.low_fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.493), var(--color00));
}

/* Main */

main {
    width: 100%;
    background-color: var(--color00);
    font-family: var(--text01);
    font-size: 20px;
}

section {
    width: 100%;
    padding: 34px;
}

h1,
h2 {
    font-size: 32px;
}

/* Seção 1 */

.about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_logo {
    width: 200px;
    height: 164px;
    background-image: url("../assets/images/about-logo.png");
    background-size: cover;
    margin: 26px 0;
}

aside {
    margin: 0 34px;
    background-color: var(--color12);
    border-radius: 8px;
    padding: 16px 26px;
}

.aside_icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aside_icons>div {
    background-size: cover;
}

.aside_icon1 {
    width: 56px;
    height: 56px;
    background-image: url("../assets/images/section1-1.png");
}

.aside_icon2 {
    width: 58px;
    height: 72px;
    background-image: url("../assets/images/section1-2.png");
}

aside>span {
    width: 100%;
    font-size: 16px;
    display: inline-block;
    color: var(--color00);
    text-align: center;
    padding: 24px 0;
}

aside>img {
    width: 100%;
    border-radius: 5px;
}

/* Paralax */
.paralax {
    margin: 52px 0;
    width: 100%;
    height: 300px;
    background-color: var(--color11);
    background-image: url("../assets/images/paralax.png");
    background-attachment: fixed;
    background-size: cover;
}

.paralax_window {
    width: 100%;
    height: 100%;
    background-color: rgba(70, 74, 96, 0.2);
}

@supports (-webkit-touch-callout: none) {
  .parallax {
    background-attachment: scroll; /* fallback para iphones */
  }
}

/* Seção 2 */

.events_list {
    width: 100%;
    height: 464px;
    padding: 52px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event {
    display: flex;
    align-items: center;
}

.event>div {
    margin: 0 28px;
    width: 64px;
    height: 64px;
    background-size: cover;
}

.event_icon1 {
    background-image: url("../assets/images/section2-1.png");
}

.event_icon2 {
    background-image: url("../assets/images/section2-2.png");
}

.event_icon3 {
    background-image: url("../assets/images/section2-3.png");
}

.event_icon4 {
    background-image: url("../assets/images/section2-4.png");
}

.event>span {
    font-size: 24px;
}

/* Produtos */

.products>h2 {
    padding: 0 34px;
}

.products_display {
    width: 100%;
    position: relative;
    height: 548px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 58px 0;
}

.product_card {
    width: 316px;
    height: 548px;
    display: flex;
    position: absolute;
    align-items: center;
    border-radius: 26px;
    flex-direction: column;
    transition: all 450ms ease;
    background: var(--color00);
    border: solid 1px var(--color13);
    box-shadow: 0 8px 20px rgba(18, 30, 88, 0.25);
}

.product_card>h3 {
    width: 100%;
    font-size: 32px;
    text-align: center;
    padding: 28px 0;
}

.product_card>img {
    width: 258px;
    margin: 0 auto;
}

.product_card>p {
    padding: 28px 36px;
    text-align: center;
}

.product_card.active {
    width: 316px;
    height: 548px;
}

.swipe_icon {
    display: none;
    position: fixed;
    background-image: url("../assets/images/icon-swipe.png");
    background-size: cover;
    width: 64px;
    height: 64px;
    bottom: 16px;
    animation: swipeLeft 2.5s linear infinite;
    transform-origin: center center;
}

.product_card.active>.swipe_icon {
    display: block;
}

.protected_window {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(135, 135, 135, 0.09);
}

.product_card.active>.protected_window {
    display: none;
}

@keyframes swipeLeft {
    0% {
        transform: translateX(10px) rotate(5deg);
        opacity: 0.5;
    }

    25% {
        transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: translateX(-10px) rotate(-5deg);
        opacity: 0.8;
    }

    75% {
        transform: translateX(0) rotate(0deg);
        opacity: 0.5;
    }

    100% {
        transform: translateX(10px) rotate(5deg);
        opacity: 0.5;
    }
}

/* Região de atendimento */

article {
    width: 100%;
    padding: 48px 10px 76px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color11);
    background-color: var(--color10);
    background-image: linear-gradient(#5B1E44 75%, #3D0C2E);
}

article>h2 {
    padding: 0 34px;
}

article button {
    width: 216px;
    margin: auto;
}

.map {
    padding: 42px 0;
}

/* Rodapé */

footer {
    font-family: var(--text01);
    font-size: 24px;
    background-color: var(--color12);
    color: var(--color00);
}

.credits {
    color: rgba(240, 248, 255, 0.15);
}

.social_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 64px;
    margin-bottom: 220px;
}

.social {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.social > span {
    width: 168px;
}

.social1, .social2, .social3, .social4, .star_full {
    width: 48px;
    height: 48px;
    background-size: cover;
}

.social1 {
    background-image: url("../assets/images/icon-whatsapp.png");
}
.social2 {
    background-image: url("../assets/images/icon-instagram.png");
}
.social3 {
    background-image: url("../assets/images/icon-facebook.png");
}
.social4 {
    background-image: url("../assets/images/icon-google-maps.png");
}
.star_full {
    width: 28px;
    height: 28px;
    background-image: url("../assets/images/icon-star.png");
}

.stars {
    display: flex;
    gap: 6px;
}
