
/* Banner */

#banner {
    width: 100%;
    height: 85vh;
    background-image: url("../assets/images/banner-mobile.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 75vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 136px 28px 64px 28px;
}

#banner > span {
    display: inline-block;
    width: 100%;
    font-family: var(--display);
    color: var(--color11);
    font-size: 24px;
}

#banner > button {
    width: 240px;
    height: 56px;
}

.low_fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.493) , var(--color00));
}

/* Link Whatsapp */

#message_icon {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    padding: 26px;
}

.massage_backgound {
    background-image: url("../assets/images/icon-whatsapp.png");
    background-size: cover;
    width: 86px;
    height: 86px;
}

/* Main */

main {
    width: 100%;
    background-color: var(--color00);
}

