
/* Banner */

#banner {
    width: 100%;
    height: 85vh;
    background-image: url("../assets/images/banner-mobile.png");
    background-position: center bottom;
    background-size: 75vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 136px 28px 64px 28px;
}

#banner > span {
    display: inline-block;
    width: 100%;
    font-family: var(--display);
    color: var(--color11);
    font-size: 24px;
}

#banner > button {
    width: 240px;
    height: 56px;
}

.low_fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.493) , var(--color00));
}

/* Link Whatsapp */

#message_icon {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    padding: 26px;
}

#message_icon ::selection {
    background-color: unset;
}

.massage_backgound {
    background-image: url("../assets/images/icon-whatsapp.png");
    background-size: cover;
    width: 86px;
    height: 86px;
    cursor: pointer;
    display: none; /* ----------------------- */
    /* display: block; */
    border-radius: 50%;
}

/* Main */

main {
    width: 100%;
    background-color: var(--color00);
    font-family: var(--text01);
    font-size: 20px;
}

article {
    width: 100%;
    padding: 34px;
}

h1, h2 {
    font-size: 32px;
}

/* Seção 1 */

.about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_logo {
    width: 200px;
    height: 164px;
    background-image: url("../assets/images/about-logo.png");
    background-size: cover;
    margin: 26px 0;
}

aside {
    margin: 0 34px;
    background-color: var(--color12);
    border-radius: 8px;
    padding: 16px 26px;
}

.aside_icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aside_icons > div {
    background-size: cover;
}

.aside_icon1 {
    width: 56px;
    height: 56px;
    background-image: url("../assets/images/section1-1.png");
}
.aside_icon2 {
    width: 58px;
    height: 72px;
    background-image: url("../assets/images/section1-2.png");
}

aside > span {
    width: 100%;
    font-size: 16px;
    display: inline-block;
    color: var(--color00);
    text-align: center;
    padding: 24px 0;
}

aside > img {
    width: 312px;
    height: 312px;
    border-radius: 5px;
}
