@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
    --color00: white;
    --color01: black;

    --color10: #420E28;
    --color11: #FAE008;
    --color12: #8C4313;
    --color13: rgba(135, 135, 135, 0.35);
    
    /* hover */
    --color111: #dbb50a;

    --text01: 'Josefin Sans', Verdana, sans-serif;
    --display: 'Julius Sans One', sans-serif;
}

/* restrição de estilização padrão de elementos*/
* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: unset;
    background-repeat: no-repeat;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: unset;
    list-style: none;

    box-sizing: border-box;
    border-collapse: collapse;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* Header */

header {
    width: 100%;
    height: 56px;
    background-color: var(--color10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

button {
    padding: 10px 26px 6px 26px;
    border-radius: 10px;
    background-color: var(--color11);
    color: var(--color10);
    font-family: var(--text01);
    font-size: 18px;
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: var(--color111);
}

#header_icon > img {
    width: 90px;
}

#header_navigate_links {
    color: var(--color11);
    font-family: var(--text01);
    position: absolute;
    right: calc(112px + 10%);
    display: none;
}

#header_navigate_links>a:hover{
    color: var(--color111);
}

@media (min-width: 700px) {
    header{
        padding: 20px 5%;
    }
    #header_navigate_links {
        display: block;
    }
}

/* Link Whatsapp */

#message_icon {
    position: fixed;
    z-index: 20;
    right: 0;
    bottom: 0;
    padding: 26px;
}

#message_icon ::selection {
    background-color: unset;
}

.massage_backgound {
    background-image: url("../assets/images/icon-whatsapp.png");
    background-size: cover;
    width: 86px;
    height: 86px;
    cursor: pointer;
    display: block;
    border-radius: 25%;
}
